body{
  height: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container{
  height: auto;
  background-color: ;
}
.profile{
  background-color: ;
  height: inherit;
}
.img-profile {
  width: 100%;
  height: auto;
}
.head {
  height:30px;
}
.body {
  max-height: 600px;
  height: auto;
  background-color: ;
}
.container-chat {
  background-color:;
  height: 400px;
}
.chat-input{

  width:100%;

}
.list-chat {
  background-color: ;
  overflow: auto;

}
.item-chat {
  background-color: #2196F3;
  margin-bottom:5px;
  padding: 5px;
}
.online {
  background:;

}
.online-list{
  background-color: ;
  height: 500px;
  overflow: auto;
}
.people {
  background-color: ;
  padding:3px;
}
.kirim {
  width: 100%;
  text-align:center;
}
